.containerPortfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
}

.portfolioItem,
.portfolioItemExpanded {
  background: var(--colour-bg-variant);
  padding: 1rem;
  border-radius: 2rem;
  border: 2px solid var(--colour-primary-variant);
  height: fit-content;
  transition: var(--transition);
}

.portfolioItem:hover,
.portfolioItemExpanded:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.portfolioItemImg {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolioItem h3,
.portfolioItemExpanded h3 {
  margin: 1.2rem 0 1rem;
}

.portfolioItem h4,
.portfolioItemExpanded h4 {
  padding-top: 0.5rem;
}

.portfolioItemCTA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.expandButton {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  padding-top: 0;
  font-size: 1.7rem;
}

.expandButton:hover {
  color: var(--colour-white);
  background-color: transparent;
}

.portfolioItemExpanded .expandButton {
  transform: rotate(180deg);
}

.about {
  color: var(--colour-light);
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: var(--colour-light);
}

.expand {
  max-height: 0;
  transition: all 1500ms ease-in-out;
  overflow: hidden;
}

.portfolioItemExpanded .expand {
  max-height: 50rem;
}

/*------------------- Media Queries (medium devices) ------------------------*/
@media screen and (max-width: 1025px) {
  .containerPortfolio {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/*------------------- Media Queries (small devices) ------------------------*/
@media screen and (max-width: 600px) {
  .containerPortfolio {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
