form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: var(--colour-bg-variant);
  border: 2px solid var(--colour-primary-variant);
  resize: none;
  color: var(--colour-white);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
input, textarea{
  background: transparent;
}
}
