header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.headerContainer {
  text-align: center;
  height: 100%;
  position: relative;
}

/* --------------CTA---------------- */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* --------------Header Socials---------------- */
.headerSocials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 0.8rem;
}

/* --------------Me Image---------------- */
.me {
  background: linear-gradient(#DDDBCB, transparent);
  margin-top: 1rem;
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  border-radius: 12rem 12rem 0 0;
}

/*------------------- Media Queries (medium devices) ------------------------*/
@media screen and (max-width: 1025px) {
  header {
    height: 100vh;
  }
}
/*------------------- Media Queries (small devices) ------------------------*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .headerSocials {
    display: none;
  }
}
