header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.headerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* --------------CTA---------------- */
.cta {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.2rem;
  text-align: center;
}

/* --------------Header Socials---------------- */
.headerSocials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 0.8rem;
}

.headerSocials a {
  font-size: 1.5rem;
}

/*------------------- Media Queries (medium devices) ------------------------*/
@media screen and (max-width: 1025px) {
  .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cta {
    margin-top: 1.5rem;
    flex-direction: column;
  }
  .cta .button {
    width: 100%;
  }
  .headerSocials {
    gap: 2rem;
  }
  .headerSocials a {
    font-size: 1.7rem;
  }
}
/*------------------- Media Queries (small devices) ------------------------*/
@media screen and (max-width: 600px) {
  .headerSocials {
    gap: 3rem;
  }
  .cta {
    margin-top: 1rem;
  }
}
