header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  text-align: center;
  height: 100%;
  position: relative;
}

/* --------------CTA---------------- */
.cta {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.2rem;
}

/* --------------Header Socials---------------- */
.headerSocials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 0.8rem;
}

.headerSocials a {
  font-size: 1.5rem;
}

/*------------------- Media Queries (medium devices) ------------------------*/
@media screen and (max-width: 1025px) {
  .cta{
    margin-top: 1.5rem;
    flex-direction: column;
  }
  .headerSocials a {
    font-size: 1.7rem;
  }
}
/*------------------- Media Queries (small devices) ------------------------*/
@media screen and (max-width: 600px) {
  .headerSocials {
    gap: 3rem;
  }
  .cta {
    margin-top: 1rem;
    flex-direction: column;
  }
}