footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(transparent, var(--colour-primary));
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
  padding-top: 7rem;
}

footer a {
  color: var(--colour-bg);
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footerSocials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.footerSocials a {
  background: var(--colour-bg);
  color: var(--colour-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footerSocials a:hover {
  background: transparent;
  color: var(--colour-bg);
  border-color: var(--colour-bg);
}

.footerCopyright {
  margin-bottom: 4rem;
  color: var(--colour-bg);
}

footer img {
  padding-bottom: 1rem;
  width: 3rem;
  transition: var(--transition);
}
footer img:hover {
  transform: scale(1.2);
}

/*------------------- Media Queries (medium devices)-------------------*/
@media screen and (max-width: 1025px) {
  footer {
    background-color: var(--colour-primary);
    padding-top: 2rem;
    margin-top: 2rem;
  }
}
/*------------------- Media Queries (small devices) ------------------------*/
@media screen and (max-width: 600px) {
  footer {
    background-color: var(--colour-primary);
    padding-top: 2rem;
    margin-top: 2rem;
  }
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footerSocials {
    margin-bottom: 2.6rem;
  }
}
