.experienceContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.experienceContainer > div {
  background: var(--colour-bg-variant);
  padding: 2rem;
  border-radius: 2rem;
  border: 2px solid var(--colour-primary-variant);
  transition: var(--transition);
}
.experienceContainer > div:hover {
  transform: scale(1.05);
}

.experienceContainer > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--colour-primary);
}

.experienceContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experienceDetails {
  display: flex;
  gap: 1rem;
}

.experienceDetailsIcon {
  margin-top: 6px;
  color: var(--colour-primary);
}

/*------------------- Media Queries (medium devices) ------------------------*/
@media screen and (max-width: 1025px) {
  .experienceContainer {
    grid-template-columns: 1fr;
  }
  .experienceContainer > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experienceContent {
    padding: 1rem;
  }
}
/*------------------- Media Queries (small devices) ------------------------*/
@media screen and (max-width: 600px) {
  .experienceContainer {
    gap: 1rem;
  }
  .experienceContainer > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
