@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --colour-bg: #1f1f38;
  --colour-bg-variant: rgba(44, 44, 109, 0.5);
  --colour-primary: #4db5ff;
  --colour-primary-variant: rgba(77, 181, 255, 0.4);
  --colour-white: rgb(255, 255, 255);
  --colour-light: rgba(255, 255, 255, 0.7);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

section {
  margin-top: 8rem;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    115deg,
    var(--colour-bg),
    #2c2c6c,
    var(--colour-primary)
  );
  background-size: 200% 200%;
  animation: gradient-animation 30s ease infinite;
  color: var(--colour-white);
  line-height: 1.5;
  background-attachment: fixed;
  background-position: center;
}

@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*------------------- General Styles ------------------------*/
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  padding-top: 5rem;
}

.titleContainer > h5 {
  text-align: center;
  color: var(--colour-light);
}

.titleContainer > h2 {
  text-align: center;
  color: var(--colour-primary);
  margin-bottom: 3rem;
}

.textLight {
  color: var(--colour-light);
}

a {
  color: var(--colour-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--colour-white);
}

.button {
  width: max-content;
  display: inline-block;
  color: var(--colour-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--colour-primary);
  transition: var(--transition);
}

.button:hover {
  background-color: var(--colour-white);
  color: var(--colour-bg);
  border-color: transparent;
}

.buttonPrimary {
  background-color: var(--colour-primary);
  color: var(--colour-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*------------------- Media Queries (medium devices) ------------------------*/
@media screen and (max-width: 1025px) {
  .container {
    width: var(--container-width-md);
  }
  header {
    margin-bottom: 15vh;
  }
  body {
    background-size: contain;
    background-color: var(--colour-bg);
    background-image: url(./assets/bg-texture.png);
    animation: none;
  }
  section {
    margin-top: 6rem;
  }
}
/*------------------- Media Queries (small devices) ------------------------*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  body {
    background-size: contain;
    background-color: var(--colour-bg);
    background-image: url(./assets/bg-texture.png);
    animation: none;
  }
  header {
    margin-bottom: 0;
  }
  section > h2 {
    margin-bottom: 2rem;
  }
  section {
    padding-top: 3rem;
  }
}
@media screen and (max-height: 600px) and (orientation: landscape) {
  header {
    margin-bottom: 100vh;
  }
}
