nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.9rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.8rem;
  border-radius: 50%;
  display: flex;
  color: var(--colour-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: var(--colour-primary-variant);
}

nav a.active {
  background: var(--colour-primary);
  color: var(--colour-bg);
}

nav a::before {
  content: attr(datatooltip);
  font-size: 0.7rem;
  position: absolute;
  bottom: 4rem;
  background-color: var(--colour-primary);
  border-radius: 1rem;
  padding: 0.5rem;
  transition: var(--transition);
  opacity: 0;
  color: var(--colour-bg);
  transform: translateX(-40%);
}

nav a:hover::before {
  opacity: 1;
  bottom: 4.5rem;
}

/*------------------- Media Queries (medium devices) ------------------------*/
@media screen and (max-width: 1025px) {
}
/*------------------- Media Queries (small devices) ------------------------*/
@media screen and (max-width: 600px) {
}
